html {
    box-sizing: border-box;
    font-family: 'Lora', serif;
}
*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
body {
    box-sizing: border-box;
    background-color: #f2f2f2;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}
h2 {
    flex: 0 1 100%;
    text-align: center;
    font-size: 1.6rem;
}
h3 {
    font-family: 'Lora', serif;
    margin:0;
    font-weight: 700;
}
img {
    max-width: 100%;
}
.content {
    background-color: white;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.content {
    padding: 1rem;
    text-align: center;
}
.content h3 {
    text-align: center;
    font-size: .9rem;
    line-height: 1.4rem;
}

.content span {
    color:#db008d;
}
.button {
    background-color: #008fd1;
    color: white;
    padding: .6rem 2rem;
    margin-top: 1rem;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}
@media screen and (min-width:480px) {
    .main-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .entry {
        flex: 0 1 calc(50% - 1rem);
    }
}

@media screen and (min-width:768px) {
    .entry {
        flex: 0 1 calc(33% - 1rem);
    }
}


.hero {
    background-image: url(../img/hero.jpg);
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: flex-end;
}

.navbar {
    display: flex;
    flex-direction: column; /* mobile */
    align-items: center;
    width: 100%;
    background-color: #008fd1;
    padding: 1rem 0;
    position: absolute;
    top: 1rem;
}

.header-text {
    display: none;
    flex: 1 0 100%;
    text-align: center;
    font-size: 2rem;
    color: white;
}

@media (min-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .header-text {
        display: block;
        font-size: 2rem;
    }
    .hero {
        align-items: center;
    }
}
 
.header {
    position: relative;
}

.header-text h1 {
    margin: 0;
}

.nav__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__logo {
    margin-bottom: 1rem;
}
.nav__link {
    margin-right: 0;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .nav__links {
        display: flex;
        flex-direction: row;
    }
    .nav__link {
        margin-right: 1rem;
        margin-bottom: 0;
        font-size: 1.3rem;
    }
}

.nav__link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.header-text .container {
    text-transform: uppercase;
    /* width: 20rem; */
}

/* Categories */

.categories ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.categories ul li {
    padding: 2rem;
    flex: 0 0 50%;
}

@media(min-width: 768px) {
    .categories ul li {
        flex: 0 0 25%;

    }
}

.categories ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.categories ul li a i {
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.categories ul li:nth-child(1) {
    background-color: #008fd1;
}
.categories ul li:nth-child(2) {
    background-color: #db008d;
}
.categories ul li:nth-child(3) {
    background-color: #9800d1;
}
.categories ul li:nth-child(4) {
    background-color: #eca300;
}