@import "variables";
@import "mixins";

html {
  @include box-sizing(border-box);
  height: 100%;
}
*,
*:after,
*:before {
  @include box-sizing(inherit);
}
body {
  font-family: $mainFont;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  .sidebar {
    transition: margin-left .4s ease;
  }
}

.app.hide-menu {
  .sidebar {
    margin-left: -20rem;
  }
}

.header {
  display: flex;
  .site-name {
    background-color: $secondary;
    flex: 0 0 5rem;
    @include desktop {
      flex: 0 0 20rem;
    }
    .mobile {
      display: block;
      color: $white;
      @include desktop {
        display: none;
      }
      padding: 0 1rem;
    }
    .desktop {
      display: none;
      @include desktop {
        display: block;
        padding: 0 2rem;
        text-align: center;
        color: $white;
      }
    }
  }
  .bar {
    flex: 1;
    display: flex;
    justify-content: space-between;
    background-color: $primary;
    color: $white;
    .right-content {
      display: flex;
      .box {
        display: flex;
        align-items: center;
        padding: 0 1rem;
        &:hover {
          background-color: $secondary;
        }
      }
      i {
        margin-right: 0.5rem;
        font-size: 1.2rem;
      }
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
        span {
          margin-left: .5rem;
          background-color: $tertiary;
          padding: .5rem;
          border-radius: 50%;          
        }
      }
    }
    .left-content {
      display: flex;
      align-items: center;
      margin-left: 1rem;
      .fa-arrow-right {
        display: none;
      }
    }
  }
}

.main-content {
  display: flex;
  flex: 1;
  .sidebar {
    background-color: $darkGray;
    padding: 1rem 2rem;
    flex: 0 0 5rem;
    @include tablet {
      flex: 0 0 20rem;
    }
    color: $white;
    .user {
      display: flex;
      justify-content: space-around;
      align-items: center;
      img {
        width: 60px;
      }
      span {
        display: flex;
        font-weight: 700;
      }
    }
    .search {
      display: flex;
      margin-top: 1rem;
      justify-content: center;
      input {
        height: 3rem;
        width: 100%;
        border-radius: 10px;
        padding-left: 1rem;
        border: none;
      }
    }
  }
  .content {
    flex: 1;
    background-color: $gray;
    padding: 1rem;
    h2 {
      text-align: center;
    }
    .new-client {
      display: flex;
      flex-wrap: wrap;
      flex: 1 1 100%;
      justify-content: space-between;
      .field {
        flex: 0 0 100%;
        @include tablet {
          flex: 0 0 50%;
        }
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        label {
          flex: 0 0 120px;
          margin-left: 1rem;
          margin-right: 1rem;
          font-weight: bold;
        }
        input[type="text"],
        textarea {
          flex: 1;
          border: none;
          &:focus {
            outline: none;
          }
        }
        input {
          height: 2rem;
          padding-left: .5rem;
        }
        textarea {
          height: 10rem;
          padding-left: 1rem;
          padding-top: 1rem;
        }
      }
      .expand {
        flex: 0 0 100%;
      }
      .options {
        display: flex;
        align-items: center;
        flex: 0 0 50%;
        flex-wrap: wrap;
        @include tablet {
          flex: 0 0 100%;
        }
      }
      .submit {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        & input {
          @include button($secondary);
          line-height: 0;
          padding: 1.3rem 1.5rem;
          font-size: 1.2rem;
          border-radius: 15px;
          &:focus {
            outline: none;
          }
          &:hover {
            background-color: $primary;
          }
        }
      }
      .membership {
        margin-bottom: 3.5rem;
      }
    }
  }
}
.menu-admin {
  margin-top: 1rem;
  h2 {
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
  }

  .menu {
    list-style: none;
    padding: 0;
    > li {
      padding: .5rem;
      &:hover {
        ul {
          display: block;
          list-style: none;
          padding-left: 1rem;
          background-color: darken($darkGray, 2%);
          margin-top: 1rem;
          li {
            padding: .5rem;
            a {
              color: $white;
              i {
                margin-right: 1rem;
              }
            }
          }
        }
      }
      a {
        color: $white;
        text-decoration: none;
        padding: .5rem;
        transition: padding .3s ease, background-color .3s ease-in-out;
        &:hover {
          background-color: $primary;
          padding-left: 1.5rem;
        }
        i {
          margin-right: 1rem;
        }
      }
      ul {
        display: none;
      }
    }
  }
}