@import "variables";
@import "mixins";

html {
  @include box-sizing(border-box);
  height: 100%;
}
*,
*:after,
*:before {
  @include box-sizing(inherit);
}
body {
  font-family: $mainFont;
  min-height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  display: flex;
  .site-name {
    background-color: $secondary;
    flex: 0 0 5rem;
    @include desktop {
      flex: 0 0 20rem;
    }
    .mobile {
      display: block;
      color: $white;
      @include desktop {
        display: none;
      }
      padding: 0 1rem;
    }
    .desktop {
      display: none;
      @include desktop {
        display: block;
        padding: 0 2rem;
        text-align: center;
        color: $white;
      }
    }
  }
  .bar {
    flex: 1;
    display: flex;
    justify-content: space-between;
    background-color: $primary;
    color: $white;
    .right-content {
      display: flex;
      .box {
        display: flex;
        align-items: center;
        padding: 0 1rem;
        &:hover {
          background-color: $secondary;
        }
      }
      i {
        margin-right: 0.5rem;
        font-size: 1.2rem;
      }
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
        span {
          margin-left: .5rem;
          background-color: $tertiary;
          padding: .5rem;
          border-radius: 50%;          
        }
      }
    }
    .left-content {
      display: flex;
      align-items: center;
      margin-left: 1rem;
      .fa-arrow-right {
        display: none;
      }
    }
  }
}

.main-content {
  display: flex;
  height: 100vh;
  .sidebar {
    background-color: $darkGray;
    padding: 1rem 2rem;
    flex: 0 0 5rem;
    @include tablet {
      flex: 0 0 20rem;
    }
    color: $white;
    .user {
      display: flex;
      justify-content: space-around;
      align-items: center;
      img {
        width: 60px;
      }
      span {
        display: flex;
        font-weight: 700;
      }
    }
    .search {
      display: flex;
      margin-top: 1rem;
      justify-content: center;
      input {
        height: 3rem;
        width: 100%;
        border-radius: 10px;
        padding-left: 1rem;
        border: none;
      }
    }
  }
  .content {
    flex: 1;
  }
}

a {
  color: $white;
}
