html {
    box-sizing: border-box;
    min-height: 100%;
}
*, *:before, *:after {
box-sizing: inherit;
}
body {
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
h2 {
    text-align: center;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 2rem;
}

.positions {
    background-image: url(../img/burguer.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

.positions .top {
    align-self: flex-start;
    margin-top: 1rem;
    margin-left: 1rem;
    background-color: #e0ab10;
    padding: 1rem;
}

.positions .top span {
    display: block;
    text-align: center;
    font-size: 2rem;
}

.positions .top p {
    margin: 0;
}

.positions .main-content {
    align-self: center;
    text-align: center;
}

.positions .main-content p {
    margin: 0;
    color: white;
}

.positions .main-content .location {
    font-size: 1.2rem;
}
.positions .main-content h1 {
    margin: 0;
    color: #e0ab10;
}

.positions .bottom {
    align-self: flex-end;
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding: 1rem 2rem;
    background-color: #e0ab10;
}




