html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.cart-content {
  position: relative;
}

.cart-content:hover .content {
  position: absolute;
  max-width: 400px;
  padding: 1rem;
  right: 0;
  display: block;
}

.cart-content:hover .content .button {
  background-color: #741D51;
  padding: .5rem 1rem;
  display: block;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}

.cart-content:hover .content #cart-list img {
  width: 200px;
}

.container {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}
