// font
$mainFont: 'Raleway', serif;

// colors
$primary: #33C3F0;
$secondary: #741D51;
$alternative: #E44E52;
$gray: #F2F2F2;
$white: #FFFFFF;

// breakpoints
$phone: 480px;
$tablet: 768px;
$desktop: 1000px;

