/** Media Queries **/
html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  background-color: #000000;
  color: #8c8c8c;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

@media only screen and (min-width: 768px) {
  body {
    background-color: unset;
    background-color: unset;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url(../img/background-netflix-4.jpg);
  }
}

a {
  color: #8c8c8c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-header img {
  margin-top: .5rem;
  max-width: 100px;
}

@media only screen and (min-width: 768px) {
  .site-header img {
    max-width: 150px;
    margin-left: 2rem;
  }
}
