html {
    box-sizing: border-box;
    /* padding: 5rem 0; */
    /* background-color: yellow; */
  }
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    border: 0;
    padding: 0;
  }

  body {
      background-color: #f2f2f2;
  }
  .container {
      max-width: 1200px;
      margin: 0 auto;
  }

  h2 {
      text-align: center;
      font-size: 3rem;
      margin-bottom: 10px;
  }

  h3 {
      font-weight: 700;
      font-family: 'Robot', 'Libre Baskerville', serif;
      margin-bottom: 1rem;
  }
  .main-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  @media (min-width: 480px) {
    .entry {
        flex: 0 0 calc(50% - 1rem);
    }
  }

  @media (min-width: 768px) {
    .entry {
        flex: 0 0 calc(33.33% - 1rem);
    }
  }

  article img {
    max-width: 100%;
    display: block;
    /* border-radius: 4px 4px 0 0 ; */
    margin-bottom: 1rem;
  }

  .entry .content {
      background-color: white;
      padding: 1rem;
      text-align: center;
      text-transform: uppercase;
  }

  .entry {
      background-color: white;
      margin-bottom: 2rem;
      /* padding: 1rem; */
  }

  .content h3 {
      font-size: .9rem;
      text-transform: uppercase;
      line-height: 1.5;
  }

  .content span {
    color: #db008d;
  }

  .button {
      background-color: #008fd1;
      text-decoration: none;
      display: inline-block;
      padding: .5rem 1rem;
      border-radius: 2px;
      margin-top: 1rem;
      color: white;
  }

  .published-by {
      margin-top: 1rem;
  }