html {
    box-sizing: border-box;
    /* padding: 5rem 0; */
    /* background-color: yellow; */
  }
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    border: 0;
    padding: 0;
  }

  .container {
      width: 1200px;
      margin: 0 auto;
  }

  h2 {
      text-align: center;
      font-size: 3rem;
      margin-bottom: 10px;
  }

  img {
      max-width: 100%;
  }
  .main-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  @media (min-width: 480px) {
    .entry {
        flex: 0 0 calc(50% - 1rem);
    }
  }
  /* .article img {
          width: 100%;
  } */



