:root {
    --mainFont: 'Lora', serif;
    --primary: #05bae6;
    --secondary: #db008d;
    --gray: #e5e5e5;
    --white: #ffffff;
    --black: #000000;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
}
body {
    font-family: var(--mainFont);
    font-size: 1.2rem;
}

/* SITE HEADER */
/* layout */
.site-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    flex: 1 0 auto;
}

.site-header img {
    max-width: 80%;
}

.main-nav-container {
    background-color: var(--primary);
    padding: 1rem 0;
}

.main-nav__list-item:not(:last-of-type) {
    margin-bottom: 1rem;
}

.main-nav__link {
    color: var(--white);
    text-decoration: none;
    font-size: 1.4rem;
}

.main-nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    list-style: none;
}

@media (min-width: 768px) {
    .main-nav__list {
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
    }
    .main-nav__list-item:not(:last-of-type) {
        margin-bottom: 0;
    }
}

.content-container {
    display: flex;
    flex-wrap: wrap;
}

.sidebar,
.main-content {
    flex: 0 0 100%;
}

.sidebar h2 {
    text-align: center;
}
.main-content {
    padding: 2rem;
}
.main-content h1 {
    text-align: center;
    margin-bottom: 1rem;
}
.sidebar {
    padding: 2rem;
    background-color: var(--gray);
}
.main-content img {
    display: block;
    margin: 0 auto;
    max-width: 80%;
}
.sidebar__link {
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--black);
}
.main-content p {
    margin: 1rem 0;
    line-height: 2rem;
}

@media (min-width: 768px) {
    .main-content {
        flex: 0 0 70%;
    }
    .sidebar {
        flex: 0 0 30%;
        order: -1;
    }
    .sidebar__link {
        display: block;
        text-align: left;
    }
}

.sidebar__list {
    margin: 0 auto;
}
.sidebar h2 {
    margin: 2rem;
}
.sidebar__list-item {
    list-style-type: none;
    margin-bottom: .8rem;
}
.sidebar__list-item:last-of-type {
    margin-bottom: 0;
}
.sidebar__link:hover {
    color: var(--secondary);
}

.site-footer {
    background-color: var(--secondary);
}

.site-footer p {
    padding: 1rem 0;
    text-align: center;
    color: var(--white);
}