:root {
    --mainFont: 'Lora', serif;
    --primary: #05bae6;
    --secondary: #db008d;
    --gray: #e5e5e5;
    --white: #ffffff;
    --black: #000000;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
}
body {
    font-family: var(--mainFont);
    font-size: 1.2rem;
}

/* SITE HEADER */
/* layout */
.site-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    flex: 1 0 auto;
}

.site-header img {
    max-width: 80%;
}

.main-nav-container {
    background-color: var(--primary);
    padding: 1rem 0;
}

.main-nav__list-item:not(:last-of-type) {
    margin-bottom: 1rem;
}

.main-nav__link {
    color: var(--white);
    text-decoration: none;
    font-size: 1.4rem;
}

.main-nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    list-style: none;
}

@media (min-width: 768px) {
    .main-nav__list {
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
    }
    .main-nav__list-item:not(:last-of-type) {
        margin-bottom: 0;
    }
}
