html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

.site-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    flex: 1 0 auto;
}

.site-header img {
    max-width: 80%;
}