:root {
    --primary: #7abe47;
    --light: #ffffff;
    --gray: #eeeeee;
    --dark: #333333;
    --padding: 1rem;
    --padding2: 1rem;
    --mainFont: 'PT Serif', serif;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: var(--gray);
    font-family: var(--mainFont);
}

/* Global Styles */
img {
    max-width: 100%;
}

p {
    line-height: 1.8;
    font-size: 1rem;
}

h1, h2, h3 {
    margin: 2rem 0;
}
h1 {
    font-size: 2.4rem;
}
h2 {
    font-size: 2.2rem;
}
h3 {
    font-size: 2rem;
}

.text-center {
    text-align: center;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    width: 90%;
}
.header {
    padding: var(--padding);
    background-color: var(--dark);
}
.header .topbar {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 3rem;
}
.header .menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-row-gap: 1rem;
}
@media (min-width: 768px) {
    .header .topbar {
        grid-template-rows: unset;
        grid-row-gap: unset;
        grid-template-columns: repeat(2, 1fr);
    }
    .header .site-name {
        grid-column: 1 / 2;
        text-align: center;
    }
    .header .menu {
        grid-column: 2 / 3;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        align-items: center;
    }
}


.topbar .menu a {
    color: white;
    text-decoration: none;
    text-align: center;
}

div .site-name {
    text-align: center;
}